<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <a href="/table_games">Back</a>
    <div th:each="game : ${games}">
        <a th:href="@{{id}/edit(id=${game.getId()})}" th:text="${game.toString()}">game</a>
        <form th:method="POST" th:action="@{/table_games/{id}/buy(id=${game.getId()})}" th:object="${game}">
            <input type="submit" value="Buy">
        </form>
    </div>
</body>
</html>